@use 'src/style/helpers/media';
@use 'src/style/helpers/mixins';
.footer {
  background-color: var(--color-black);
  .container {
    padding-inline: mixins.rem(27);

    @include media.desktop {
      padding: mixins.rem(52) mixins.rem(80) mixins.rem(230);
    }
  }
}
.social {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: mixins.rem(68);
  @include media.laptop-up {
    justify-content: flex-end;
  }

  &__img {
    transition: filter 0.2s;
    height: 100%;
  }

  &__link {
    position: relative;
    display: inline-block;
    z-index: 1;

    @media (hover: hover) {
      &:hover {
        filter: drop-shadow(2px 4px 6px black);
      }
      &:focus {
        filter: invert(20%);
      }
    }

    @media (hover: none) {
      &:active {
        filter: invert(50%);
      }
    }


  }
}