@use 'src/style/helpers/media';
@use 'src/style/helpers/mixins';

.hero {
  box-shadow: 0 -100px var(--color-blue);
  overflow: hidden;

  .container {
    position: relative;
    padding-block: 10% 105%;

    @include media.landscape {
      aspect-ratio: 1.87;
      padding-top: min(mixins.rem(128), ((100vw - 450px) / 7));
      padding-bottom: 0;
      background: none;

      @include media.desktop {
        padding: mixins.rem(128) mixins.rem(80);
      }
    }

    &:before,
    &:after {
      opacity: 0;
      animation: fadeInNegative 0.8s 0.7s forwards ease-in;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: mixins.rem(-16);
      right: 0;
      width: 100%;
      aspect-ratio: 0.925;
      display: block;
      transform: translateY(mixins.rem(-20));
      background: 50% 100% / 100% url(./images/svg/Portrait/Illustration-Head-Portrait.svg) no-repeat;

      @include media.landscape {
        bottom: 0.7%;
        right: 0;
        width: 67.3%;
        aspect-ratio: 1.13;
        background: 100% 100% / contain url(./images/svg/Desktop/Illustration-Head.svg) no-repeat;
      }
    }

    &:after {
      @include media.landscape {
        content: '';
        position: absolute;
        bottom: 7.8%;
        left: 1.4%;
        width: 30.8%;
        aspect-ratio: 1.62;
        transform: translateY(mixins.rem(20));
        background: 0 100% / contain url(./images/svg/Desktop/lines-white.svg) no-repeat;
      }
    }
  }
}

.title {
  max-width: 9em;

  span {
    display: inline-block;
    animation: .3s 0s 1 title both running;
  }
}



