@font-face {
  font-family: 'Raleway';
  src: url('fonts/subset-Raleway-Medium.woff2') format('woff2'),
  url('fonts/subset-Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/subset-Raleway-SemiBold.woff2') format('woff2'),
  url('fonts/subset-Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/subset-Raleway-Bold.woff2') format('woff2'),
  url('fonts/subset-Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/subset-RobotoMono-Regular.woff2') format('woff2'),
  url('fonts/subset-RobotoMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

