@use 'mixins';

$widthMobile: mixins.rem(550);
$widthMiniTablet: mixins.rem(768);
$widthTablet: mixins.rem(900);
$widthLaptop: mixins.rem(1200);
$widthDesktop: mixins.rem(1600);

@mixin mobile {
  @media screen and (width < $widthMobile) {
    @content
  }
}
@mixin mobile-up {
  @media screen and ($widthMobile <= width) {
    @content
  }
}
@mixin tablet {
  @media screen and ($widthMobile <= width < $widthLaptop) {
    @content
  }
}
@mixin tablet-up {
  @media screen and ($widthMiniTablet <= width) {
    @content
  }
}
@mixin tablet-down {
  @media screen and (width < $widthMiniTablet) {
    @content
  }
}

@mixin laptop {
  @media screen and ($widthTablet <= width < $widthLaptop) {
    @content
  }
}
@mixin laptop-up {
  @media screen and ($widthTablet <= width) {
    @content
  }
}
@mixin laptop-down {
  @media screen and (width < $widthTablet) {
    @content
  }
}
@mixin desktop {
  @media screen and ($widthLaptop <= width) {
    @content
  }
}
@mixin desktop-down {
  @media screen and (width < $widthLaptop) {
    @content
  }
}

@mixin landscape {
  @media screen and (orientation: landscape), ($widthTablet <= width)  {
    @content
  }
}

@mixin portrait {
  @media screen and (orientation: portrait) {
    @content
  }
}